.container{
    width:300px;
    height:400px;
    padding:40px;
    background:rgba(129, 158, 48, 0.8);
    top:50%;
    left:50%;
    box-sizing:border-box;
    box-shadow:0 15px 25px rgba(0,0,0,0.5);
    border-radius:10px;
    animation:fadeIn 1s;

}
body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
button{
    width:100%;
    padding:10px;
    background:rgba(12, 170, 72, 0.8);
    border:none;
    outline:none;
    color:#fff;
    font-size:1.2em;
    cursor:pointer;
    border-radius:5px;
    margin-top:20px;
}
button:hover{
    background:rgb(163, 22, 22);
    transition:0.3s;

}
input{
    width:100%;
    padding:10px;
    background:rgba(255, 255, 255, 0.8);
    border:none;
    outline:none;
    color:#000;
    font-size:1.2em;
    margin-top:20px;
    border-radius:5px;
}
@media screen and (max-width: 600px) {
    .container{
        width:60%;
        height:50%;
        padding:30px;
    } 
    
}


@keyframes fadeIn{
    0%{
        opacity:0;
        transform:translateY(-20px);
        animation:fadeIn 2s;
    }
    100%{
        opacity:1;
        transform:translateY(0);
        animation:fadeIn 2s;
    }
}