.text {
    font-size: 5em;
    font-weight: bold;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(-50px);
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   