.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background-color: #6baf62;
}
.card:hover {
    width: 250px;
    height: 250px;
    transition: height 0.3s ease;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}